<div class="row mt-3 mb-3">
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="col-3">
        {{ form.part_number.label_tag }}
        {{ form.part_number }}
    </div>
    <div class="col-4">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="col-3">
        {{ form.qty.label_tag }}
        {{ form.qty }}
    </div>
    <div class="col-2">
        <label for="">Material to delete</label>
        {{ form.DELETE }}
    </div>

</div>  