{% extends 'base.html' %}
{% block content %}
    {% for message in object_list %}
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link"
                       data-bs-toggle="collapse"
                       data-bs-target="#collapse{{ message.id }}"
                       href="#collapse{{ message.id }}">{{ message }}</a>
                </div>
                <div id="collapse{{ message.id }}"
                     class="collapse"
                     data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <ul>
                                    <li>Code: {{ message.mmsg_code }}</li>
                                    <li>Date & Time: {{ message.msg_date_time | date:"d M Y, H:i" }}</li>
                                    {% if message.fde %}<li>FDE: {{ message.fde.fde_code }}</li>{% endif %}
                                </ul>
                            </div>
                            <div class="col-8">
                                <ul>
                                    <li>Defect status: {{message.defect_status}}</li>
                                    {% if message.defect_ref %}
                                    
                                    <li>Defect ref: {{message.defect_ref}}</li>
                                    {% endif %}
                                </ul>
                                <p> Full message text:  <code>"{{message.note}}"</code> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
